/*& Global Styles  */

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #00c3da;
    --main-background-color: #FFFFFF
}

::selection {
    background-color: black;
    color: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.layer a {
    color: white !important;
}

.w-fit {
    width: fit-content;
}


.top-25 {
    top: 25%;
}

.border-grey {
    border-color: rgba(99, 99, 99, 0.351);
}

.text-grey {
    color: #787878;
}

i {
    vertical-align: middle;
}

.pt-6 {
    padding-top: 6rem;
}

.fs-xsm {
    font-size: .6875rem;
}

.fs-sm {
    font-size: .8125rem;
}

nav .active {
    color: black !important;
}

.nav-font {
    font-size: .8125rem;
    font-weight: 600;
}

/* ^t home styles   */

#home .page1 {
    background-image: url(../images/bg-image-28.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

#home .page::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
}

#home .page .content {
    z-index: 99;
}

#home .page2 {
    background-image: url(../images/bg-image-29.jpg);
    background-size: cover;
    background-position: center center;
}

#home .carsoul-ctrl .icon {
    position: relative;
}

.prev, .next {
    z-index: 99;
}

#home .carsoul-ctrl .icon::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: -1;
}



#home .carsoul-ctrl .icon:hover::after {
    right: 0;
}


#home .carsoul-ctrl .icon:hover {
    color: black !important;
}


#home .page {
    height: calc(100vh) !important;
}

#home .carousel-btn-container {
    position: absolute;
    width: 100%;
    top: 50%;

}



/*^ about styles */

#about span {
    color: var(--main-color);
}

#about .my-btn {
    background-color: transparent;
    color: black;
    transition: 0.6s;
}

#about .my-btn:hover {
    color: white;
    background-color: black;
}

/*^ team style  */

#team {
    background-color: var(--main-baccground-color);
}


.title-back {
    position: absolute;
    font-size: 6rem;
    color: rgb(138, 135, 135);
    font-weight: bold;
    opacity: .1;
    z-index: -1;
}

.title-back-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.member .inner {
    position: relative;
    overflow: hidden;

}

.member .inner::after {
    content: "";
    position: absolute;
    background-color: #00c4dacb;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    opacity: 0;


}

.member .inner:hover::after {
    opacity: 1;


}

.member .layer {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;

}

.member:hover .layer {
    top: 0;

}


/*^ services styles  */

#services {
    background-color: #626262;
}


/*^ pricing styles  */

.main-btn {
    background-color: var(--main-color);
    color: #fff;
    font-size: .75rem;
    padding: top 1.25rem !important;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.main-btn:hover {
    transform: translateY(-0.125rem);
    background-color: var(--main-color) !important;
}

.item h2 {
    position: relative;
}

.item h2::before {
    content: '$';
    color: var(--main-color);
    position: absolute;
    bottom: 75%;
    right: 100%;
    font-size: 1.25rem;


}

.item .special {
    color: var(--main-color) !important;
}



/*^ testimonials styles */

.image {
    width: 8rem;
    height: 8rem;
    transform: translate(-50%, -70%) !important;
    z-index: 99;
}


#testimonial .carousel-indicators button {
    width: .6875rem;
    height: .6875rem;
}

#testimonial .carousel-indicators button {
    background-color: #626262;
}

#testimonial .carousel-indicators .active {
    background-color: var(--main-color) !important;
}

/*^ contact styles */

#contact {
    background-color: #F7F7F7;
}